.slider__item {
  margin: 8px;

  &__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__title {
    margin-top: 2rem;
    font-size: 1.40em;
    // font-family: $font-title;
  }
  &__subtitle {
    // color: $azul;
    letter-spacing: .05rem;
    line-height: 1rem;
    // font-family: $font-barlow;
    font-size: .75rem;
    font-weight: 800;
    text-transform: uppercase;
  }

}
